{% extends "layout.html" %}
{% block title %}Manage Audition{% endblock %}
{% block body %}
    <h1>Audition for {{ show.name }}</h1>
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object avatar" src="{{ audition.auditionee.get_avatar_url() }}" alt="Avatar">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ audition.audition_day.get_date_string() }} at {{ audition.get_start_time_string() }} until {{ audition.get_end_time_string() }}</h4>
            {{ audition.auditionee.get_full_name() }}<br>
            {% if audition.auditionee.email %}
                {{ auditionee.email }}
            {% else %}
                <span style="font-weight: bold; color: darkred">Auditionee has no email address on their profile. Please encourage them to add it!</span>
            {% endif %}
        </div>
    </div>
    <h2>Comments</h2>
    <p>Comments are viewable by all users that manage this particular show.</p>
    <p>Comments can be shown to the auditionee as feedback. Click "Make Viewable For Auditionee" for the comment(s) you want them to see.</p>
    <p>&nbsp;</p>
    {% if audition.comments|length > 0 %}
        <ul class="media-list">
            {% for comment in audition.comments %}
                <li class="media {% if comment.viewable_by_auditionee %} viewable-comment {% endif %}">
                    <div class="media-left media-top">
                        <img class="media-object avatar" src="{{ comment.user.get_avatar_url() }}" alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.user.get_full_name() }}
                            <small>
                                {{ comment.get_submission_datetime_string() }}
                                {% if comment.edits > 0 %}
                                    (Edited on {{ comment.get_last_edit_datetime_string() }})
                                {% endif %}
                                {% if comment.viewable_by_auditionee %}
                                    <span style="font-style: italic; font-weight: bold; color: darkred">
                                        This comment is viewable by the auditionee
                                    </span>
                                {% endif %}
                                {% if g.user == comment.user %}
                                    <a href="{{ url_for('edit_comment', comment_id=comment.id, audition_id=comment.audition.id) }}">
                                         Edit Comment
                                    </a>
                                {% endif %}
                            </small>
                        </h4>
                        <p>
                            {{ comment.comment_body | markdown | safe }}
                        </p>
                        <p class="small">
                            {% if comment.viewable_by_auditionee %}
                                <a href="{{ url_for('toggle_comment_viewable', comment_id=comment.id) }}">Hide From Auditionee</a>
                            {% else %}
                                <a href="{{ url_for('toggle_comment_viewable', comment_id=comment.id) }}"
                                   onclick="return window.confirm('Click OK to show this comment to the auditionee.\nNote: This will email them to tell them you have left feedback!')">Show To Auditionee</a>
                            {% endif %}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="#" id='postCommentLink' onclick="$('#commentPoster').slideDown(); $('#postCommentLink').slideUp();">
        Post Comment
    </a>

    <div id="commentPoster" style="display: none;">
    <p>
        Standard Markdown syntax is supported for headings/text decoration/lists and more.
        Click <a href="{{ url_for('markdown_help') }}" onClick="return popup(this, 'Markdown Help', 500, 500)">here</a>
        for more info.
    </p>
        <div class="media">
        <div class="media-left media-top">
            <a href="#">
                <img class="media-object avatar" src="{{ g.user.get_avatar_url() }}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <form action="" method="post" id="commentForm">
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Type your comment here" name="comment_text" form="commentForm"></textarea>
                </div>
                <button type="submit" class="btn">Post</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}