{% extends "layout.html" %}
{% block body %}
    <h1>Cancel Your Slot</h1>
    <p>You have chosen to <strong>cancel</strong> your audition for <strong>{{ show.name }}</strong> on the <strong>{{ slot.get_long_date_time_string() }}</strong>.</p>
    <p>Once you do this you may not be able to re-book this slot again if someone takes it!</p>
    <form method="post" action="">
        <button type="submit" class="btn btn-danger">Cancel This Slot</button> <a href="{{ url_for('show', show_id=show.id) }}" class="btn btn-default">Go Back</a>
    </form>
{% endblock %}