<html>
<head>
    <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}Audition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Auditon</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% if g.user.is_authenticated  %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('shows') }}">Available Shows</a></li>
                    <li><a href="{{ url_for('my_auditions') }}">My Auditions</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    Signed in as {{ g.user.first_name }} {{ g.user.last_name }}.
                    <a href="{{ url_for('logout') }}" class="navbar-link">Sign Out</a>
                </p>
                {% else %}
                <p class="navbar-text navbar-right">You are not signed in.</p>
                {% endif %}

            </div>
        </div>
    </nav>
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category if category != 'message' else 'warning' }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>
</body>
</html>