<html>
<head>
    <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}Audition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
    {% block css %}{% endblock %}
    {% if g.ganalytics_enable %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ g.ganalytics_id }}', 'auto');
            {% if g.user.is_authenticated  %}
            ga('set', 'userId', {{ g.user.id }}); // Set the user ID using signed-in user_id.
            {% endif %}
            ga('send', 'pageview');
        </script>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Audition</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% if g.user.is_authenticated  %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('shows') }}">Available Shows</a></li>
                    <li><a href="{{ url_for('my_auditions') }}">My Auditions</a></li>
                    <li><a href="{{ url_for('profile') }}">My Profile</a></li>
                </ul>
                <p class="navbar-text navbar-right">
                    Signed in as <a href="{{ url_for('profile') }}" class="navbar-link">{{ g.user.first_name }} {{ g.user.last_name }}</a>.
                    <a href="{{ url_for('logout') }}" class="navbar-link">Sign Out</a>
                </p>
                {% else %}
                <p class="navbar-text navbar-right">You are not signed in.</p>
                {% endif %}

            </div>
        </div>
    </nav>
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category if category != 'message' else 'warning' }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        {% if g.warn_email %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                You do not have a valid email address configured for your profile. <br>
                It is <strong>highly recommended</strong> that you have one on file so we can submit
                audition feedback to you.<br>
                <a href="{{ url_for('edit_profile', user_id=g.user.id) }}">Click here to edit your information</a>
            </div>
        {% endif %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
    {% block script %}{% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>
</body>
</html>