{% extends "layout.html" %}
{% block title %}Manage Show{% endblock %}
{% block body %}
    <h1>Manage {{ show.name }}</h1>
    {{ show.description | markdown | safe if show.description}}
    <p class="small"><a href="{{ url_for('manage_show_description', show_id=show.id) }}">Edit Show Description</a></p>
    <p>Here you can view the full audition schedule for your show.</p>

    {% for audition_day in show.audition_days if audition_day.auditions|length > 0 %}
        <h2>{{ audition_day.get_date_string() }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Availability</th>
                    <th></th>
                </tr>
            </thead>
            {% for audition in audition_day.auditions %}
                <tr class="audition-slot{% if not audition.is_available() %} active{% endif %}">
                    <td style="width: 40%;">
                        {{ audition.get_date_time_string() }}
                    </td>
                    <td style="width: 20%;">
                        {{ "Not Booked" if audition.is_available() else "Booked By " + audition.auditionee.get_full_name() }}
                    </td>
                    <td style="width: 40%;">
                        {% if not audition.is_available() %}
                            <a href="{{ url_for("manage_audition", audition_id=audition.id) }}">More Info</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    {% if show.get_auditions()|length == 0 %}
            <p style="font-style: italic">No auditions have been listed. Have they been added?</p>
    {% endif %}
{% endblock %}