{% extends "layout.html" %}
{% block title %}Edit Description{% endblock %}
{% block body %}
    <h1>Edit Description for {{ audition_day.get_short_date_string() }} ({{ audition_day.show.name }})</h1>
    <p>
        Write the description below. Standard Markdown syntax is supported.
        Click <a href="{{ url_for('markdown_help') }}" onClick="return popup(this, 'Markdown Help', 500, 500)">here</a> for more info.
    </p>

    <form action="" method="post" id="descriptionForm">
        <div class="form-group">
            <textarea class="form-control" rows="10" placeholder="Audition Day Description" name="description" form="descriptionForm">{{ audition_day.description if audition_day.description}}</textarea>
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
{% endblock %}