{% extends "layout.html" %}
{% block title %}My Audition{% endblock %}
{% block body %}
    <h1>Your Audition for {{ show.name }}</h1>
    <p>
        Your audition is on {{ audition.audition_day.get_date_string() }} at
        {{ audition.get_start_time_string() }} until {{ audition.get_end_time_string() }}
    </p>
    {% if audition.has_feedback_for_auditionee() %}
        <h2>Feedback</h2>
        <ul class="media-list">
            {% for comment in audition.comments if comment.viewable_by_auditionee %}
                <li class="media">
                    <div class="media-left media-top">
                        <img class="media-object avatar" src="{{ comment.user.get_avatar_url() }}" alt="...">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ comment.user.get_full_name() }}
                            <small>
                                {{ comment.get_submission_datetime_string() }}
                            </small>
                        </h4>
                        <p>
                            {{ comment.comment_body | markdown | safe }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="font-style: italic;">No feedback has been submitted for your audition yet.</p>
    {% endif %}
{% endblock %}