{% extends "layout.html" %}
{% block title %}Available Shows{% endblock %}
{% block body %}
    <h1>Available Shows</h1>
    <p>Shows that can be auditioned for are displayed below. Please choose a show to view available auditions.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Show Title</th>
                <th>Show Audition Dates</th>
                <th></th>
            </tr>
        </thead>
        {% for show in shows %}
            <tr>
                <td>{{ show.name }}</td>
                <td>{{ show.get_audition_dates_string() }}</td>
                <td>
                    {% if g.user in show.managers %}
                        <a href="{{ url_for('manage_show', show_id=show.id) }}">Manage Show</a>
                    {% else %}
                        <a href="{{ url_for('show', show_id=show.id) }}">Show Auditions</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if shows|length == 0 %}
            <tr>
                <td colspan="3" style="font-style: italic; text-align: center">Sorry, there are currently no shows open for audition.</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}