{% extends "layout.html" %}
{% block title %}{{ show.name }}{% endblock %}
{% block body %}
    <h1>Auditions for {{ show.name }}</h1>
    <p>Audition times are shown below. Click "Book Audition" to book the selected slot.</p>
    {{ show.description | markdown | safe if show.description}}
    <hr />
    {% for audition_day in show.audition_days if audition_day.auditions|length > 0 and not audition_day.in_past() %}
        <h2>{{ audition_day.get_date_string() }}</h2>
        {{ audition_day.description | markdown | safe if audition_day.description}}
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Availability</th>
                    <th></th>
                </tr>
            </thead>
            {% for audition in audition_day.auditions if not audition.in_past() %}
                <tr class="audition-slot{% if audition.auditionee_id == g.user.id %} success{% elif not audition.is_available() %} danger{% endif %}">
                    <td style="width: 35%;">{{ audition.get_date_time_string() }}</td>
                    <td style="width: 35%;">
                        {% if audition.auditionee_id == g.user.id %}
                            Booked
                        {% else %}
                            {{ "Available" if audition.is_available() else "Unavailable" }}
                        {% endif %}
                    </td>
                    <td style="width: 30%;">
                        {% if audition.auditionee_id == g.user.id %}
                            <a href="{{ url_for("cancel_audition", audition_id=audition.id) }}">Cancel Audition</a>
                        {% elif audition.is_available() and not g.user.auditioning_for(show) %}
                            <a href="{{ url_for("book_audition", audition_id=audition.id) }}">Book Audition</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if audition_day.auditions_in_past() %}
                <tr>
                    <td colspan="3" style="font-style: italic; text-align: center">Sorry, there are no slots for the remainder of this day.</td>
                </tr>
            {% endif %}
        </table>
    {% endfor %}
    {% if show.audition_days_in_past() %}
            <p style="font-style: italic">Sorry, there are currently no auditions listed for this show.</p>
    {% endif %}

{% endblock %}